.containernav{
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.containernav img{
    width: 50px;
  margin-right: 0.5rem;

}
